<% if ReleaseNotes.broadcast_model.constantize.last %>
  <div>
    <%= markup(ReleaseNotes.broadcast_model.constantize.last.markdown).html_safe %>
  </div>
  <div>
    <a href="/<%= ReleaseNotes.mount_at %>">
      View all release notes
    </a>
  </div>
<% end %>