*.gem
*.rbc
.bundle
.config
.ruby_version
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
release_notes/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/reports
stamp
test/tmp
test/version_tmp
tmp
