<h1>
  Release Notes Dummy App
</h1>

<p>
  This is just a simple app created to demo and test ReleaseNotes. It's nothing fancy, but it gets the job done.
</p>

<p>
  Run <strong><em>../../bin/release_notes update</em></strong> to add ReleaseNotes into Dummy app database.
</p>

<p>
  To see ReleaseNotes for this Dummy app, <%= link_to "click here", release_notes_path %>.
</p>